.products {
    padding: 0 50px;
    display: flex;

    .left {
        flex: 1;
        position: sticky;
        height: 100%;
        top: 50px;

        .filterItem {
            margin-bottom: 30px;

            h2 {
                font-weight: 400;
                margin-bottom: 20px;
            }

            .inputItem {
                margin-bottom: 10px;

                input {
                    cursor: pointer;
                }

                .range {
                    margin: 0 10px;
                }

                label {
                    margin-left: 10px;
                    cursor: pointer;
                    text-transform: capitalize;
                }
            }
        }
    }

    .right {
        flex: 4;

        .catImg {
            width: 100%;
            height: 300px;
            object-fit: cover;
            margin-bottom: 50px;
        }
    }
}

// Responsive----------------------

@media only screen and (max-width: 550px) {
    .products {
        padding: 0 0 0 20px;

        .left {
            top: 80px;

            .filterItem {
                h2 {
                    margin: 10px 0 10px;
                    font-size: 20px;
                }

                .inputItem {
                    margin-bottom: 5px;

                    .range {
                        margin: 5px 0px;
                        max-width: 100%;
                    }
                }

                .forRange {
                    display: flex;
                    flex-direction: column;

                    span:last-child {
                        align-self: flex-end;
                    }
                }
            }
        }

        .right {
            flex: 3;

            .catImg {
                height: 150px;
                margin-bottom: 30px;
            }

            .list {
                gap: 10px;

                a .card {
                    width: 200px;

                    .image {
                        height: 330px;
                    }
                }
            }
        }
    }
}